<html>
    <body>
        <h1>ショッピングカート内の商品一覧</h1>
        <table border="1">
            <tr>
                <th>商品名</th>
                <th>商品の色</th>
                <th>メーカー名</th>
                <th>単価</th>
                <th>数量</th>
            </tr>

            {% for cart in cart_itemlist %}
                <tr>
                    <th>{{cart.item.name}}</th>
                    <th>{{cart.item.color}}色</th>
                    <th>{{cart.item.manufacturer}}</th>
                    <th>{{cart.item.price}}円</th>
                    <th>{{cart.amount}}個</th>
                </tr>
            {% endfor %}
            
        </table>
        合計 {{total}} 円<br>
        <br>
        <a href="{% url 'ecsite:top' %}">商品検索</a>へ<br>
        
    </body>
</html>