{% load static %}
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <title>ログイン</title>
        <link rel='stylesheet' type='text/css' href='{% static "ecsite/css/style.css" %}' />
    </head>
    <body>
        <h3>ログインしてください</h3>
        <br />
        <form action="{% url 'ecsite:user_login' %}" method="POST">
            {% csrf_token %}
            <table>
                {{login_form}}
                <tr>
                    <td colspan="2"><input type="submit" value="ログイン"></td>
                </tr>
            </table>
            {% if message %}
                {{message}}
            {% endif %}
            <br>
            <a href="{% url 'ecsite:user_regist' %}">会員登録</a><br>
        </form>
    </body>
</html>