{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta http-equiv='Content-Type' content='text/html; charset=UTF-8' />
        <title>Top</title>
        <link rel='stylesheet' type='text/css' href='{% static "css/style.css" %}' />
    </head>

    <body>
        {% if is_login %}
            <form action="{% url 'ecsite:search_item' %}" method="GET">
                {% csrf_token%}
                <h3>商品の検索を行います。</h3><br>
                カテゴリ：<select name="category">
                <option value = "すべて">すべて</option>
                <option value = "帽子">帽子</option>
                <option value = "鞄">鞄</option>
                </select>
                キーワード：<input type="text" name="keyword" size="30">
                <input type="submit" value="検索">
            </form>
            <br>
            <br>
            <a href="{% url 'ecsite:shopping_cart' %}">ショッピングカートを見る</a><br>
            <br>
            ようこそ{{user_name}}さん
            <br>
            <a href="{% url 'ecsite:user_info' %}">会員情報の確認</a><br>
            <a href="{% url 'ecsite:user_update' %}">会員情報の変更</a><br> 
            <a href="{% url 'ecsite:user_logout' %}">ログアウト</a><br>
        {% else %}
            <form action="{% url 'ecsite:search_item' %}" method="GET">
                {% csrf_token%}
                <h3>商品の検索を行います。</h3><br>
                カテゴリ：<select name="category">
                <option value = "すべて">すべて</option>
                <option value = "帽子">帽子</option>
                <option value = "鞄">鞄</option>
                </select>
                キーワード：<input type="text" name="keyword" size="30">
                <input type="submit" value="検索">
            </form>
            <br>
            <br>
            <a href="{% url 'ecsite:shopping_cart' %}">ショッピングカートを見る</a><br>       
            <br>
            <a href="{% url 'ecsite:user_login' %}">ログイン</a><br>
        {% endif %}
    </body>

</html>